<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>432269104635-gftp0skv7a1nnje50d7mm9erper7pdvs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432269104635-gftp0skv7a1nnje50d7mm9erper7pdvs</string>
	<key>API_KEY</key>
	<string>AIzaSyA8dOQs76-sHXmNfhAdEnSuLY5vCkfIjE4</string>
	<key>GCM_SENDER_ID</key>
	<string>432269104635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>l.Jejumeet.jwhPjt</string>
	<key>PROJECT_ID</key>
	<string>jejucon-1494348397079</string>
	<key>STORAGE_BUCKET</key>
	<string>jejucon-1494348397079.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:432269104635:ios:5e92b1230aad7733</string>
	<key>DATABASE_URL</key>
	<string>https://jejucon-1494348397079.firebaseio.com</string>
</dict>
</plist>